shared.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- shared.xsd -->       
<!-- generated: 29 June 2009 -->       
<xs:schema
             elementFormDefault="qualified" attributeFormDefault="unqualified"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             xmlns:gml="http://www.opengis.net/gml/3.2"
             xmlns:gmd="http://www.isotc211.org/2005/gmd"
            xmlns="http://www.metaforclimate.eu/cim/1.1" 
            targetNamespace="http://www.metaforclimate.eu/cim/1.1">       
<!-- these relative paths could really be URLs, but accessing them online cripples performance -->       
<xs:import xmlns:xs="http://www.w3.org/2001/XMLSchema"
           namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="gml/3.2.1/gml.xsd"/>
<xs:import xmlns:xs="http://www.w3.org/2001/XMLSchema"
           namespace="http://www.isotc211.org/2005/gmd"
           schemaLocation="iso/19139/20070417/gmd/gmd.xsd"/>
<xs:import xmlns:xs="http://www.w3.org/2001/XMLSchema"
           namespace="http://www.w3.org/1999/xlink"
           schemaLocation="xlink/1.0.0/xlinks.xsd"/>
<xs:include xmlns:xs="http://www.w3.org/2001/XMLSchema" schemaLocation="activity.xsd"/>
<xs:include xmlns:xs="http://www.w3.org/2001/XMLSchema" schemaLocation="data.xsd"/>
<xs:include xmlns:xs="http://www.w3.org/2001/XMLSchema" schemaLocation="grids.xsd"/>
<xs:include xmlns:xs="http://www.w3.org/2001/XMLSchema" schemaLocation="quality.xsd"/>
<xs:include xmlns:xs="http://www.w3.org/2001/XMLSchema" schemaLocation="software.xsd"/>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="ClosedDateRange">
                        <xs:complexContent>
                        <xs:extension base="DateRange">
                    <xs:sequence/>  
                            </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Property" abstract="true">
   <xs:annotation>
      <xs:documentation>An abstract property is simply a name/value pair.  Properties may be grouped into PropertyGroups.  Properties are used to describe features of a class whose details can't be known beforehand and, hence, can't be hard-coded into the schema.  For example, the ComponentProperty describes features that are modeled by a component and (potentially) coupled via a connection.  Possible names of Properties are CodeLists which are bound to concrete subclasses; Thus, ChangeProperties can have names like "replacement" or "increment" (ChangePropertyType) while ComponentProperties can have names like "seaSurfaceTemperature" or "pressure" (ComponentPropertyType).</xs:documentation>
   </xs:annotation>
   <xs:sequence><!-- this is an abstract class --><xs:element name="group" minOccurs="0" maxOccurs="1">
         <xs:complexType>
            <xs:choice minOccurs="1" maxOccurs="1"/>
         </xs:complexType>
      </xs:element>
      <xs:element name="id" minOccurs="1" maxOccurs="1" type="Identifier"/>
      <xs:element name="type" minOccurs="1" maxOccurs="1" type="PropertyType"/>
      <xs:element name="value" minOccurs="0" maxOccurs="1" type="PropertyValue"/>
   </xs:sequence>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Calendar" abstract="true">
   <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="range" type="DateRange"/>
   </xs:sequence>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="DataSource" abstract="true">
   <xs:sequence/>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="ChangePropertyType"
                mixed="false">
   <xs:annotation>
      <xs:documentation>An enumeration of types of changes.</xs:documentation>
   </xs:annotation>
   <xs:attribute name="type" type="ChangePropertyType_Enumeration" use="required"/>
</xs:complexType>
            <xs:simpleType name="ChangePropertyType_Enumeration">
        <xs:restriction xmlns:xs="http://www.w3.org/2001/XMLSchema" base="xs:string">
   <xs:enumeration value="new"/>
   <xs:enumeration value="decrement"/>
   <xs:enumeration value="increment"/>
   <xs:enumeration value="redistribution"/>
   <xs:enumeration value="replacement"/>
</xs:restriction>
            </xs:simpleType>
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="CodeList" mixed="false">
   <xs:annotation>
      <xs:documentation>A placeholder for "still-to-be-defined" codelists (required for XSL generation).</xs:documentation>
   </xs:annotation>
   <xs:attribute name="type" type="CodeList_Enumeration" use="required"/>
</xs:complexType>
            <xs:simpleType name="CodeList_Enumeration">
        <xs:restriction xmlns:xs="http://www.w3.org/2001/XMLSchema" base="xs:string"/>
            </xs:simpleType>
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="OpenDateRange">
                        <xs:complexContent>
                        <xs:extension base="DateRange">
                    <xs:sequence/>  
                            </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Document" abstract="true">
   <xs:annotation>
      <xs:documentation>Any class or feature with the &lt;&lt;document&gt;&gt; stereotype uses the attributes of this class.  Note that all documents can have quality and change information associated with them.</xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="author" minOccurs="0" maxOccurs="1"
                  type="gmd:CI_ResponsibleParty_PropertyType">
         <xs:annotation>
            <xs:documentation>The contact for this document</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="creationDate" minOccurs="1" maxOccurs="1" type="xs:dateTime"/>
      <xs:element name="documentID" minOccurs="1" maxOccurs="1" type="Identifier">
         <xs:annotation>
            <xs:documentation>a unique indentifier for this document</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="parent" minOccurs="0" maxOccurs="1">
         <xs:complexType>
            <xs:sequence>
               <xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string"/>
               <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="version" use="optional" type="xs:integer"/>
            <xs:attribute ref="xlink:href" use="optional"/>
         </xs:complexType>
      </xs:element>
      <xs:element name="quality" minOccurs="0" maxOccurs="unbounded" type="DQ_Quality">
         <xs:annotation>
            <xs:documentation>a (set of) quality record(s) for this document.</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="relationship" minOccurs="0" maxOccurs="1" type="RelationshipType">
         <xs:annotation>
            <xs:documentation>Specifies the relationship of the (optional) parent component.</xs:documentation>
         </xs:annotation>
      </xs:element>
   </xs:sequence>
   <xs:attribute name="documentVersion" use="required" type="xs:integer"/>
</xs:complexType>
<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Identifier">
   <xs:restriction base="xs:token">
      <xs:annotation>
         <xs:documentation>Needed so that a Numerical Requirement can be be uniquely identified and related to a specific data granule.  This is the level to which Michael Lautenshlager would like to be able to refernece data. </xs:documentation>
      </xs:annotation>
   </xs:restriction>
</xs:simpleType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="PropertyValue" mixed="true">
                                <xs:simpleContent>
                                <xs:extension base="xs:anySimpleType">
                              
                            </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Daily-360">
                        <xs:complexContent>
                        <xs:extension base="Calendar">
                    <xs:sequence/>  
                            </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Genealogy" abstract="true">
   <xs:sequence><!-- this is an abstract class --><xs:element name="relationship" minOccurs="1" maxOccurs="unbounded">
         <xs:complexType>
            <xs:choice minOccurs="1" maxOccurs="1"/>
         </xs:complexType>
      </xs:element>
      <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string"/>
   </xs:sequence>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Relationship" abstract="true">
   <xs:sequence><!--type is not used -->       
<xs:element name="parent" minOccurs="1" maxOccurs="1">
         <xs:complexType>
            <xs:sequence>
               <xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string"/>
               <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="version" use="optional" type="xs:integer"/>
            <xs:attribute ref="xlink:href" use="optional"/>
         </xs:complexType>
      </xs:element>
   </xs:sequence>
</xs:complexType>
<!--Change is not used -->       
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="DateRange">
   <xs:sequence>
      <xs:element name="startDate" minOccurs="0" maxOccurs="1" type="xs:dateTime"/>
      <xs:element name="endDate" minOccurs="0" maxOccurs="1" type="xs:dateTime"/>
   </xs:sequence>
</xs:complexType>
<!--ChangeProperty is not used -->       
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="UnitType" mixed="false">
   <xs:annotation>
      <xs:documentation>An enumeration of types of ModelComponent.  This includes things like atmosphere &amp; ocean models, radiation schemes, and transformers.  More detailed descriptions are to be found in a component's StandardName(s).  CIM best-practice is to describe every component for which there is a named ComponentType as a separate component, even if it is not a separate unit of software (ie: even if it is embedded), instead of as a (set of) ModelParameters.</xs:documentation>
   </xs:annotation>
   <xs:attribute name="type" type="UnitType_Enumeration" use="required"/>
</xs:complexType>
            <xs:simpleType name="UnitType_Enumeration">
        <xs:restriction xmlns:xs="http://www.w3.org/2001/XMLSchema" base="xs:string">
   <xs:enumeration value="meter"/>
   <xs:enumeration value="hectopascal"/>
   <xs:enumeration value="pascal"/>
   <xs:enumeration value="sigma"/>
</xs:restriction>
            </xs:simpleType>
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="PropertyGroup" abstract="true">
   <xs:annotation>
      <xs:documentation>A collection of Properties.  A PropertyGroup can itself contain other PropertyGroups.</xs:documentation>
   </xs:annotation>
   <xs:sequence><!-- this is an abstract class --><xs:element name="property" minOccurs="0" maxOccurs="unbounded">
         <xs:complexType>
            <xs:choice minOccurs="1" maxOccurs="1"/>
         </xs:complexType>
      </xs:element>
      <!-- this is an abstract class --><xs:element name="childGroup" minOccurs="0" maxOccurs="unbounded">
         <xs:complexType>
            <xs:choice minOccurs="1" maxOccurs="1"/>
         </xs:complexType>
      </xs:element>
      <!-- this is an abstract class --><xs:element name="parentGroup" minOccurs="0" maxOccurs="1">
         <xs:complexType>
            <xs:choice minOccurs="1" maxOccurs="1"/>
         </xs:complexType>
      </xs:element>
      <xs:element name="id" minOccurs="0" maxOccurs="1" type="Identifier">
         <xs:annotation>
            <xs:documentation>A unique id for this group of properties.</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string">
         <xs:annotation>
            <xs:documentation>The name of this group of properties.</xs:documentation>
         </xs:annotation>
      </xs:element>
   </xs:sequence>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Reference" abstract="true">
   <xs:annotation>
      <xs:documentation>Any class or feature with the &lt;&lt;reference&gt;&gt; stereotype uses the attributes of this class.  </xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string"/>
      <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string"/>
   </xs:sequence>
   <xs:attribute name="version" use="optional" type="xs:integer"/>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="RelationshipType" mixed="false">
   <xs:annotation>
      <xs:documentation>An enumeration of types of ModelComponent.  This includes things like atmosphere &amp; ocean models, radiation schemes, and transformers.  More detailed descriptions are to be found in a component's StandardName(s).  CIM best-practice is to describe every component for which there is a named ComponentType as a separate component, even if it is not a separate unit of software (ie: even if it is embedded), instead of as a (set of) ModelParameters.</xs:documentation>
   </xs:annotation>
   <xs:attribute name="type" type="RelationshipType_Enumeration" use="required"/>
</xs:complexType>
            <xs:simpleType name="RelationshipType_Enumeration">
        <xs:restriction xmlns:xs="http://www.w3.org/2001/XMLSchema" base="xs:string">
   <xs:enumeration value="derivedVersion"/>
   <xs:enumeration value="variantOf"/>
   <xs:enumeration value="similarTo"/>
</xs:restriction>
            </xs:simpleType>
        <xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="PerpetualPeriod">
                        <xs:complexContent>
                        <xs:extension base="Calendar">
                    <xs:sequence/>  
                            </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="RealCalendar">
                        <xs:complexContent>
                        <xs:extension base="Calendar">
                    <xs:sequence/>  
                            </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="PropertyType" mixed="false">
   <xs:annotation>
      <xs:documentation>An enumeration of types of ModelComponent.  This includes things like atmosphere &amp; ocean models, radiation schemes, and transformers.  More detailed descriptions are to be found in a component's StandardName(s).  CIM best-practice is to describe every component for which there is a named ComponentType as a separate component, even if it is not a separate unit of software (ie: even if it is embedded), instead of as a (set of) ModelParameters.</xs:documentation>
   </xs:annotation>
   <xs:attribute name="type" type="PropertyType_Enumeration" use="required"/>
</xs:complexType>
            <xs:simpleType name="PropertyType_Enumeration">
        <xs:restriction xmlns:xs="http://www.w3.org/2001/XMLSchema" base="xs:string"/>
            </xs:simpleType>
               
</xs:schema>