software/output.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:complexType name="PropertyGroup">
      <xs:sequence>
         <xs:element name="group" minOccurs="0" maxOccurs="unbounded" type="PropertyGroup"/>
         <xs:element name="parentGroup" minOccurs="0" maxOccurs="1" type="PropertyGroup"/>
         <xs:element name="property" minOccurs="1" maxOccurs="unbounded" type="ModelProperty"/>
         <xs:element name="component" minOccurs="1" maxOccurs="1" type="SoftwareComponent"/>
      </xs:sequence>
      <xs:attribute name="id" use="optional" type="UniqueIdentifier"/>
      <xs:attribute name="name" use="optional" type="CodeList"/>
   </xs:complexType>
   <xs:complexType name="Compiler">
      <xs:annotation>
         <xs:documentation>Gives information about the compiler referenced by the TechnicalProperties of a ModelComponent.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="compilerEnvironmentVariables" minOccurs="1" maxOccurs="1" type="xs:string">
            <xs:annotation>
               <xs:documentation>Any environment variables used by the compiler.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="compilerLanguage" minOccurs="1" maxOccurs="1" type="xs:string">
            <xs:annotation>
               <xs:documentation>The programming language being compiled.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="compilerLibrary" minOccurs="1" maxOccurs="1" type="xs:string"/>
         <xs:element name="compilerName" minOccurs="1" maxOccurs="1" type="xs:string">
            <xs:annotation>
               <xs:documentation>The name of the compiler.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="compilerOptimisation" minOccurs="1" maxOccurs="1" type="xs:string">
            <xs:annotation>
               <xs:documentation>Any optimisation flags used with the compiler.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="compilerVersion" minOccurs="1" maxOccurs="1" type="xs:string">
            <xs:annotation>
               <xs:documentation>The version of the compiler</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ModelProperty">
      <xs:annotation>
         <xs:documentation>(Was previously called ScientificProperty).  A ModelProperty is a parameter which is modeled by a component.  These properties may be coupled via a connection.  They may also be related to one other.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="value" minOccurs="0" maxOccurs="1"/>
         <xs:element name="dataProperty" minOccurs="0" maxOccurs="1" type="DataProperty"/>
         <xs:element name="group" minOccurs="1" maxOccurs="1" type="PropertyGroup"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="UniqueIdentifier"/>
      <xs:attribute name="name" use="required" type="CodeList"/>
      <xs:attribute name="type" use="required" type="PropertyType"/>
   </xs:complexType>
   <xs:complexType name="DataProperty">
      <xs:annotation>
         <xs:documentation>This is used as an association class to link ModelProperties with information specific to the data package (Content, Extent, etc.).  A ModelProperty has a DataProperty when it is derived from a data file.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="modelProperty" minOccurs="1" maxOccurs="1" type="ModelProperty"/>
         <xs:element name="" minOccurs="1" maxOccurs="1" type=""/>
         <xs:element name="" minOccurs="1" maxOccurs="1" type=""/>
         <xs:element name="" minOccurs="1" maxOccurs="1" type=""/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="OriginType">
      <xs:annotation>
         <xs:documentation>An enumeration describing the source of a ModelProperty.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="coupled">
            <xs:annotation>
               <xs:documentation>This property's value is set by another component; ie: it must be coupled.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="external">
            <xs:annotation>
               <xs:documentation>This property's value is set externally; ie: it comes from a file.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="internal">
            <xs:annotation>
               <xs:documentation>This property's value is set internally.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="Connection">
      <xs:annotation>
         <xs:documentation>A Connection represents a link from a source ModelProperty to a target ModelProperty.  </xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="rate" minOccurs="1" maxOccurs="1" type="Timestep">
            <xs:annotation>
               <xs:documentation>All information having to do with the rate of this connection; the times that it is active.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="source" minOccurs="1" maxOccurs="1" type="ModelProperty"/>
         <xs:element name="target" minOccurs="1" maxOccurs="1" type="ModelProperty"/>
         <xs:element name="transformer" minOccurs="0" maxOccurs="unbounded" type="ProcessorComponent"/>
         <xs:element name="coupling" minOccurs="1" maxOccurs="1" type="Coupling"/>
      </xs:sequence>
      <xs:attribute name="type" use="required" type="ConnectionType">
         <xs:annotation>
            <xs:documentation>The type of Connection</xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
   <xs:simpleType name="TransformerStatisticsType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="all_points"/>
         <xs:enumeration value="masked_points"/>
         <xs:enumeration value="notmasked_points"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="SoftwareComponent">
      <xs:sequence>
         <xs:element name="child" minOccurs="0" maxOccurs="unbounded" type="SoftwareComponent"/>
         <xs:element name="parent" minOccurs="0" maxOccurs="1" type="SoftwareComponent"/>
         <xs:element name="composition" minOccurs="0" maxOccurs="unbounded" type="Coupling"/>
         <xs:element name="deployment" minOccurs="1" maxOccurs="1" type="DeploymentProperties"/>
         <xs:element name="scientificProperties" minOccurs="0" maxOccurs="1" type="PropertyGroup"/>
      </xs:sequence>
      <xs:attribute name="embedded" use="required" type="xs:boolean">
         <xs:annotation>
            <xs:documentation>An embedded component cannot exist on its own as an atomic piece of software; instead it is embedded within another (parent) component.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="type" use="required" type="ComponentType">
         <xs:annotation>
            <xs:documentation>Describes the type of component (ie: transformer, atmosphere, ocean, etc.).  More precise descriptions are possible using a combination of the description, longName, and standardName attributes.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="DeploymentProperties">
      <xs:sequence>
         <xs:element name="compiler" minOccurs="1" maxOccurs="1" type="Compiler"/>
         <xs:element name="machine" minOccurs="1" maxOccurs="1" type="Machine"/>
         <xs:element name="parallelisation" minOccurs="1" maxOccurs="1" type="Parallelisation"/>
         <xs:element name="component" minOccurs="1" maxOccurs="1" type="SoftwareComponent"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="TransformerTimeOperation">
      <xs:restriction base="xs:string">
         <xs:enumeration value="accumulation"/>
         <xs:enumeration value="average"/>
         <xs:enumeration value="maximum"/>
         <xs:enumeration value="minimum"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="UniqueIdentifier">
      <xs:restriction base="xs:string">
         <xs:enumeration value="test"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="ParallelisationType">
      <xs:sequence/>
   </xs:complexType>
   <xs:complexType name="Machine">
      <xs:annotation>
         <xs:documentation>Information about the machine a component is deployed on.  Forms part of a component's TechnicalProperties.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="machineDescription" minOccurs="1" maxOccurs="1" type="xs:string"/>
         <xs:element name="machineEnvironmentVariables" minOccurs="1" maxOccurs="1" type="xs:string"/>
         <xs:element name="machineLibrary" minOccurs="1" maxOccurs="1" type="xs:string"/>
         <xs:element name="machineName" minOccurs="1" maxOccurs="1" type="xs:string">
            <xs:annotation>
               <xs:documentation>the name of the machine onto which this component is deployed.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="machineSystem" minOccurs="1" maxOccurs="1" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ProcessorComponent">
          <xs:complexContent>
            <xs:extension base="SoftwareComponent">
        <xs:sequence>
         <xs:element name="algebraicCombination" minOccurs="1" maxOccurs="1" type="TransformerAlgebraicCombinationType"/>
         <xs:element name="localTransformation" minOccurs="1" maxOccurs="1" type="TransformerLocalTransformationType"/>
         <xs:element name="regridding" minOccurs="1" maxOccurs="1" type="TransformerRegriddingType"/>
         <xs:element name="timeOperation" minOccurs="1" maxOccurs="1" type="TransformerTimeOperationType"/>
         <xs:element name="" minOccurs="1" maxOccurs="1" type=""/>
      </xs:sequence>
      <xs:attribute name="conservation" use="required" type="xs:boolean"/>
      <xs:attribute name="statistics" use="required" type="TransformerStatisticsType"/>  
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
   <xs:element name="processorComponent" type="ProcessorComponent"/>
   <xs:complexType name="Coupling">
      <xs:annotation>
         <xs:documentation>A coupling represents a set of Connections between a source and target component.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="description" minOccurs="0" maxOccurs="1" type="String">
            <xs:annotation>
               <xs:documentation>HERE IS A COMMENT!</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="rate" minOccurs="1" maxOccurs="1" type="Timestep"/>
         <xs:element name="source" minOccurs="1" maxOccurs="1" type="SoftwareComponent"/>
         <xs:element name="target" minOccurs="1" maxOccurs="1" type="SoftwareComponent"/>
         <xs:element name="connection" minOccurs="0" maxOccurs="unbounded" type="Connection"/>
         <xs:element name="component" minOccurs="1" maxOccurs="1" type="SoftwareComponent"/>
      </xs:sequence>
      <xs:attribute name="complete" use="required" type="xs:boolean">
         <xs:annotation>
            <xs:documentation>If "true" then the coupling is fully-specified.  If "false" then not every Connection has been described within the coupling.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="couplingType" use="optional" type="ConnectionType"/>
   </xs:complexType>
   <xs:complexType name="ModelComponent">
          <xs:complexContent>
            <xs:extension base="SoftwareComponent">
        <xs:sequence>
         <xs:element name="timestep" minOccurs="1" maxOccurs="1" type="Timestep"/>
         <xs:element name="" minOccurs="1" maxOccurs="1" type=""/>
      </xs:sequence>  
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
   <xs:element name="modelComponent" type="ModelComponent"/>
   <xs:complexType name="FileComponent">
          <xs:complexContent>
            <xs:extension base="SoftwareComponent">
        <xs:sequence>
         <xs:element name="fileName" minOccurs="1" maxOccurs="1" type="xs:string"/>
         <xs:element name="filePath" minOccurs="1" maxOccurs="1" type="xs:string"/>
      </xs:sequence>  
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
   <xs:element name="fileComponent" type="FileComponent"/>
   <xs:simpleType name="ConnectionType">
      <xs:annotation>
         <xs:documentation>The ConnectionType enumeration describes the mechanism of transport for a connection.</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:enumeration value="argument-passing">
            <xs:annotation>
               <xs:documentation>a "direct" connection; implies a sequential rather than parallel simulation.</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="embedded"/>
         <xs:enumeration value="MPI"/>
         <xs:enumeration value="OASIS"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ComponentType">
      <xs:annotation>
         <xs:documentation>An enumeration of types of ModelComponent.  This includes things like atmosphere &amp; ocean models, radiation schemes, and transformers.  More detailed descriptions are to be found in a component's StandardName(s).  CIM best-practice is to describe every component for which there is a named ComponentType as a separate component, even if it is not a separate unit of software (ie: even if it is embedded), instead of as a (set of) ModelParameters.</xs:documentation>
      </xs:annotation>
      <xs:union memberTypes="xs:string ComponentTypeCodeList"/>
   </xs:simpleType>
   <xs:simpleType name="ComponentTypeCodeList">
      <xs:restriction base="xs:string">
         <xs:enumeration value="atmosphere"/>
         <xs:enumeration value="ocean"/>
         <xs:enumeration value="radiation"/>
         <xs:enumeration value="transformer"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="Parallelisation">
      <xs:sequence/>
   </xs:complexType>
   <xs:complexType name="Timestep">
      <xs:sequence>
         <xs:element name="end" minOccurs="0" maxOccurs="1" type="DateTime"/>
         <xs:element name="rate" minOccurs="1" maxOccurs="1" type="xs:integer"/>
         <xs:element name="start" minOccurs="0" maxOccurs="1" type="DateTime"/>
         <xs:element name="units" minOccurs="1" maxOccurs="1" type="TimeType"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="PropertyType">
      <xs:annotation>
         <xs:documentation>An enumeration of types of ModelComponent.  This includes things like atmosphere &amp; ocean models, radiation schemes, and transformers.  More detailed descriptions are to be found in a component's StandardName(s).  CIM best-practice is to describe every component for which there is a named ComponentType as a separate component, even if it is not a separate unit of software (ie: even if it is embedded), instead of as a (set of) ModelParameters.</xs:documentation>
      </xs:annotation>
      <xs:union memberTypes="xs:string PropertyTypeCodeList"/>
   </xs:simpleType>
   <xs:simpleType name="PropertyTypeCodeList">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
</xs:schema>