xsd/quality.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:cim="http://www.metaforclimate.eu/schema/cim/1.6" targetNamespace="http://www.metaforclimate.eu/schema/cim/1.6" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <element name="CIM_Result" substitutionGroup="gml:AbstractGML" type="cim:CIM_ResultType"/>
    <complexType name="CIM_ResultType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element name="availableFrom" type="gmd:CI_OnlineResource_PropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="description" type="string"/>
                    <element name="resultType" type="cim:CIM_ResultTypeType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="CIM_ResultPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:CIM_Result"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="CIM_Measure" substitutionGroup="gml:AbstractGML" type="cim:CIM_MeasureType"/>
    <complexType name="CIM_MeasureType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="evaluationMethodDescription" type="string"/>
                    <element maxOccurs="1" minOccurs="0" name="evaluationMethodType" type="gmd:DQ_EvaluationMethodTypeCode_PropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="evaluationProcedure" type="gmd:CI_Citation_PropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="measureDescription" type="string"/>
                    <element maxOccurs="1" minOccurs="0" name="measureIdentification" type="gmd:MD_Identifier_PropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="nameOfMeasure" type="string"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="CIM_MeasurePropertyType">
        <sequence minOccurs="0">
            <element ref="cim:CIM_Measure"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="CIM_ResultSet" substitutionGroup="gmd:AbstractDQ_Result" type="cim:CIM_ResultSetType"/>
    <complexType name="CIM_ResultSetType">
        <complexContent>
            <extension base="gmd:AbstractDQ_Result_Type">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="1" name="member" type="cim:CIM_ResultPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="CIM_ResultSetPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:CIM_ResultSet"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="CIM_DomainConsistency" substitutionGroup="gmd:DQ_DomainConsistency" type="cim:CIM_DomainConsistencyType"/>
    <complexType name="CIM_DomainConsistencyType">
        <complexContent>
            <extension base="gmd:DQ_DomainConsistency_Type">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="dateTime" type="dateTime"/>
                    <element maxOccurs="1" minOccurs="0" name="evaluator" type="cim:ResponsibleParty"/>
                    <element maxOccurs="3" minOccurs="1" name="result" type="gmd:DQ_Result_PropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="measure" type="cim:CIM_MeasurePropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="CIM_DomainConsistencyPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:CIM_DomainConsistency"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="CIM_QualityDetail" substitutionGroup="gml:AbstractGML" type="cim:CIM_QualityDetailType">
        <annotation>
            <documentation>Locates the "target" of a CIM QualityIssue. </documentation>
        </annotation>
    </element>
    <complexType name="CIM_QualityDetailType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="detailDescription" type="string">
                        <annotation>
                            <documentation>a description of the quality issue with reference to this specific feature</documentation>
                        </annotation>
                    </element>
                    <element name="featureType" type="cim:CIM_FeatureTypePropertyType">
                        <annotation>
                            <documentation>the type of feature that the quality issue refers too (for METAFOR this could be simulation, file, boundary condition etc.)</documentation>
                        </annotation>
                    </element>
                    <element name="feature" type="cim:Document">
                        <annotation>
                            <documentation>the reference to the specific feature (e.g. a URI to a file)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="measure" type="cim:CIM_MeasurePropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="CIM_QualityDetailPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:CIM_QualityDetail"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="CIM_QualityIssue" substitutionGroup="gml:AbstractGML" type="cim:CIM_QualityIssueType">
        <annotation>
            <documentation>Records an issue with an instance of the CIM.  The particular part of the instance being referred to is captured by the detail attribute(s).  A resolution can be added to a quality issue.  A single issue can have multiple subissues.</documentation>
        </annotation>
    </element>
    <complexType name="CIM_QualityIssueType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element name="dateTime" type="dateTime">
                        <annotation>
                            <documentation>date (and time) issue was added to CIM</documentation>
                        </annotation>
                    </element>
                    <element name="issueDescription" type="string">
                        <annotation>
                            <documentation>summary description of quality issue</documentation>
                        </annotation>
                    </element>
                    <element name="issueIdentifiedBy" type="cim:ResponsibleParty">
                        <annotation>
                            <documentation>person/organisation responsible for identifying this quality issue</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="issueResponsibilityOf" type="cim:ResponsibleParty">
                        <annotation>
                            <documentation>person/organisation allocated the responsibuility for addressing this issue</documentation>
                        </annotation>
                    </element>
                    <element name="issueSeverity" type="cim:QualitySeverityTypeType">
                        <annotation>
                            <documentation>severity of issue (e.g. potential, minor, major etc. - enumeration list will need to be defined for METAFOR</documentation>
                        </annotation>
                    </element>
                    <element name="issueStatus" type="cim:QualityStatusTypeType">
                        <annotation>
                            <documentation>current status of this issue (e.g. open, investigation, closed, etc. - enumeration values to be defined for METAFOR)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="issueType" type="cim:QualityIssueTypeType">
                        <annotation>
                            <documentation>type of quality issue (e.g. metadata, data etc. - enumeration list needs to be defined for METAFOR</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="detail" type="cim:CIM_QualityDetailPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="partialResolution" type="cim:CIM_QualityResolutionPropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="finalResolution" type="cim:CIM_QualityResolutionPropertyType"/>
                    <element name="" type="cim:CIM_QualityIssuePropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="CIM_QualityIssuePropertyType">
        <sequence minOccurs="0">
            <element ref="cim:CIM_QualityIssue"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="CIM_QualityResolution" substitutionGroup="gml:AbstractGML" type="cim:CIM_QualityResolutionType">
        <annotation>
            <documentation>A description of what action was taken because of a quality issue.</documentation>
        </annotation>
    </element>
    <complexType name="CIM_QualityResolutionType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element name="dateTime" type="dateTime">
                        <annotation>
                            <documentation>date of resolution information</documentation>
                        </annotation>
                    </element>
                    <element name="resolutionDescription" type="string">
                        <annotation>
                            <documentation>description of resolution of quality issues - including external references if required</documentation>
                        </annotation>
                    </element>
                    <element name="resolvedBy" type="gmd:CI_ResponsibleParty_PropertyType">
                        <annotation>
                            <documentation>person/organisation responsible for resolution, or the person/organisation who should be contacted with any queries about the resolution of this quality issue</documentation>
                        </annotation>
                    </element>
                    <element name="" type="cim:CIM_QualityIssuePropertyType"/>
                    <element name="" type="cim:CIM_QualityIssuePropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="detail" type="cim:CIM_QualityDetailPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="subIssue" type="cim:CIM_QualityIssuePropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="CIM_QualityResolutionPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:CIM_QualityResolution"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="CIM_Quality" substitutionGroup="cim:Document" type="cim:CIM_QualityType">
        <annotation>
            <documentation>The starting point for a quality record.  It can contain any number of issues and reports.  An issue is an open-ended description of some issue about a CIM instance.  A record is a prescribed description of some specific quantitative measure that has been applied to a CIM instance.</documentation>
        </annotation>
    </element>
    <complexType name="CIM_QualityType">
        <complexContent>
            <extension base="cim:Document">
                <sequence>
                    <element name="scope" type="cim:CIM_ScopePropertyType">
                        <annotation>
                            <documentation>the specific data to which the quality information applies</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="0" minOccurs="0" name="quality" type="gmd:DQ_Element_PropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="report" type="cim:CIM_DomainConsistencyPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="issue" type="cim:CIM_QualityIssuePropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="CIM_QualityPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:CIM_Quality"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="CIM_FeatureType" substitutionGroup="gml:AbstractGML" type="cim:CIM_FeatureTypeType"/>
    <complexType name="CIM_FeatureTypeType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="report" type="cim:CIM_DomainConsistencyPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="issue" type="cim:CIM_QualityIssuePropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="CIM_FeatureTypePropertyType">
        <sequence minOccurs="0">
            <element ref="cim:CIM_FeatureType"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="CIM_Scope" substitutionGroup="gmd:DQ_Scope" type="cim:CIM_ScopeType"/>
    <complexType name="CIM_ScopeType">
        <complexContent>
            <extension base="gmd:DQ_Scope_Type">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="availableAt" type="gmd:CI_OnlineResource_PropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="target" type="anyURI"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="CIM_ScopePropertyType">
        <sequence>
            <element ref="cim:CIM_Scope"/>
        </sequence>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <simpleType name="QualityStatusTypeType">
        <restriction base="string">
            <enumeration value="resolved"/>
            <enumeration value="partially_resolved"/>
            <enumeration value="reported"/>
            <enumeration value="confirmed"/>
        </restriction>
    </simpleType>
    <simpleType name="CIM_ScopeCodeTypeType">
        <restriction base="string">
            <enumeration value="file"/>
            <enumeration value="ensemble"/>
            <enumeration value="numericalRequirement"/>
            <enumeration value="experiment"/>
            <enumeration value="simulation"/>
            <enumeration value="modelComponent"/>
            <enumeration value="model"/>
            <enumeration value="service"/>
            <enumeration value="software"/>
            <enumeration value="metadata">
                <annotation>
                    <documentation>This would cover quality issues with the CIM itself</documentation>
                </annotation>
            </enumeration>
            <enumeration value="dataset"/>
        </restriction>
    </simpleType>
    <simpleType name="QualityIssueTypeType">
        <restriction base="string">
            <enumeration value="science"/>
            <enumeration value="data_indexing"/>
            <enumeration value="data_content"/>
            <enumeration value="metadata"/>
            <enumeration value="data_format"/>
        </restriction>
    </simpleType>
    <simpleType name="QualitySeverityTypeType">
        <restriction base="string">
            <enumeration value="major"/>
            <enumeration value="cosmetic"/>
            <enumeration value="minor"/>
        </restriction>
    </simpleType>
    <simpleType name="CIM_ResultTypeType">
        <restriction base="string">
            <enumeration value="logfile"/>
            <enumeration value="plot"/>
            <enumeration value="document"/>
        </restriction>
    </simpleType>
</schema>