xsd/shared.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:cim="http://www.metaforclimate.eu/schema/cim/1.6" targetNamespace="http://www.metaforclimate.eu/schema/cim/1.6" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>[WARN-A001] - No package description in UML model</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <element name="DocumentRelationship" substitutionGroup="cim:Relationship" type="cim:DocumentRelationshipType">
        <annotation>
            <documentation>Contains the set of relationships supported by a Document.</documentation>
        </annotation>
    </element>
    <complexType name="DocumentRelationshipType">
        <complexContent>
            <extension base="cim:RelationshipType">
                <sequence>
                    <element name="type" type="cim:DocumentRelationshipTypeType"/>
                    <element name="target" type="cim:DocumentPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="DocumentRelationshipPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:DocumentRelationship"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Document" substitutionGroup="gml:AbstractGML" type="cim:DocumentType">
        <annotation>
            <documentation>Any class or feature with the &amp;lt;&amp;lt;document&amp;gt;&amp;gt; stereotype uses the attributes of this class. Furthermore, any class or feature with the &amp;lt;&amp;lt;document&amp;gt;&amp;gt; stereotype can form the root of an XML document.</documentation>
        </annotation>
    </element>
    <complexType name="DocumentType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element name="documentID" type="string">
                        <annotation>
                            <documentation>a unique indentifier for this document</documentation>
                        </annotation>
                    </element>
                    <element name="documentVersion" type="string"/>
                    <element maxOccurs="1" minOccurs="0" name="metadataID" type="anyURI"/>
                    <element maxOccurs="1" minOccurs="0" name="metadataVersion" type="string"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="externalID" type="cim:StandardNameType">
                        <annotation>
                            <documentation>The id of this document as referenced by an external body (ie: DOI, or even IPSL)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="documentAuthor" type="cim:ResponsiblePartyPropertyType">
                        <annotation>
                            <documentation>A contact for the author of this &lt;i&gt;document &lt;/i&gt;(as opposed to the author of the artifact being described by this document; ie: the simulation or component or whatever).</documentation>
                        </annotation>
                    </element>
                    <element name="documentCreationDate" type="date">
                        <annotation>
                            <documentation>The date the &lt;i&gt;document &lt;/i&gt;was created.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="documentGenealogy" type="cim:GenealogyPropertyType">
                        <annotation>
                            <documentation>Specifies the relationship of this document with another document. Various relationship types (depending on the type of document; ie: simulation, component, etc.) are supported.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="quality" type="gmd:DQ_Element_PropertyType">
                        <annotation>
                            <documentation>a (set of) quality record(s) for this document.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="documentStatus" type="cim:DocumentStatusTypeType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="DocumentPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:Document"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="Genealogy" substitutionGroup="gml:AbstractGML" type="cim:GenealogyType">
        <annotation>
            <documentation>A record of a document's history.  A genealogy element contains a textual description and a set of relationships.  Each relationship has a type and a reference to some target.  There are different relationships for different document types.</documentation>
        </annotation>
    </element>
    <complexType name="GenealogyType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="relationship" type="cim:RelationshipPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="GenealogyPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:Genealogy"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element abstract="true" name="Relationship" substitutionGroup="gml:AbstractGML" type="cim:RelationshipType">
        <annotation>
            <documentation>A record of a relationship between one document and another.  This class is abstract; specific document types must specialise this class for their relationshipTypes to be included in a document's genealogy.</documentation>
        </annotation>
    </element>
    <complexType abstract="true" name="RelationshipType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="description" type="string"/>
                    <element name="direction" type="cim:RelationshipDirectionTypeType"/>
                    <element name="type" type="cim:DocumentRelationshipTypeType">
                        <annotation>
                            <documentation>This attribute is &amp;lt;&amp;lt;unused&amp;gt;&amp;gt;; it is a placeholder for specific relationshipTypes used by specialisations of Relationship.</documentation>
                        </annotation>
                    </element>
                    <element name="target" type="cim:DocumentPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="relationship" type="cim:RelationshipPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="RelationshipPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:Relationship"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="ResponsibleParty" substitutionGroup="gmd:CI_ResponsibleParty" type="cim:ResponsiblePartyType">
        <annotation>
            <documentation>A CIM-specific ResponsibleParty.  Sub-classes the gmd ResponsibleParty type and adds the attribute "abbreviation."</documentation>
        </annotation>
    </element>
    <complexType name="ResponsiblePartyType">
        <complexContent>
            <extension base="gmd:CI_ResponsibleParty_Type">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="abbreviation" type="string"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ResponsiblePartyPropertyType">
        <sequence>
            <element ref="cim:ResponsibleParty"/>
        </sequence>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <simpleType name="RelationshipDirectionTypeType">
        <restriction base="string">
            <enumeration value="toTarget"/>
            <enumeration value="fromTarget"/>
        </restriction>
    </simpleType>
    <simpleType name="DocumentRelationshipTypeType">
        <restriction base="string">
            <enumeration value="fixedVersionOf"/>
            <enumeration value="previousVersionOf"/>
            <enumeration value="laterVersionOf"/>
            <enumeration value="similarTo"/>
            <enumeration value="other"/>
        </restriction>
    </simpleType>
    <simpleType name="DocumentStatusTypeType">
        <restriction base="string">
            <enumeration value="in-progress"/>
            <enumeration value="complete"/>
            <enumeration value="incomplete"/>
        </restriction>
    </simpleType>
    <simpleType name="UnitTypeType">
        <union memberTypes="cim:UnitTypeEnumerationType cim:UnitTypeOtherType"/>
    </simpleType>
    <simpleType name="UnitTypeEnumerationType">
        <restriction base="string">
            <enumeration value="degrees_c"/>
            <enumeration value="sigma"/>
            <enumeration value="pascal"/>
            <enumeration value="meter"/>
            <enumeration value="hectopascal"/>
        </restriction>
    </simpleType>
    <simpleType name="UnitTypeOtherType">
        <restriction base="string">
            <pattern value="other: \w{2,}"/>
        </restriction>
    </simpleType>
    <simpleType name="StandardNameType">
        <union memberTypes="cim:StandardNameEnumerationType cim:StandardNameOtherType"/>
    </simpleType>
    <simpleType name="StandardNameEnumerationType">
        <restriction base="string">
            <enumeration value="CF"/>
            <enumeration value="DRS"/>
        </restriction>
    </simpleType>
    <simpleType name="StandardNameOtherType">
        <restriction base="string">
            <pattern value="other: \w{2,}"/>
        </restriction>
    </simpleType>
</schema>